@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
body {
  margin: 0;
  font: 400 16px/28px "Poppins", sans-serif;
  color: #677294;
  padding: 0px;
  background-color: #fafafe;
}

.main {
  display: flex;
  padding: 40px;
}

.main-content {
  width: 50vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
}
.main-image {
  width: 40vw;
  margin: auto 0;
  padding: 120px;
}
.main-image > img {
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
.heading-primary {
  font-size: 50px;
  margin-bottom: 10px;
}

.heading-secondary {
  font-size: 24px;
  margin-bottom: 10px;
}

p.subtitle {
  font-size: 20px;
  font-weight: 300;
}

.cta-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.button-primary {
  min-width: 150px;
  color: #158ddc;
  text-transform: uppercase;
  background: #fff;
  padding: 20px;
  border: 2px solid #158ddc;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  margin-right: 30px;
}

.button-primary:hover {
  color: #494949;
  border-color: #494949;
  background-color: #ffff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
